*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial;
    background:#0f172a;
    color:white;
    overflow:hidden;
}

/* ⭐ BACKGROUND */
#stars{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}

/* BUTTON */
#langBtn{
    position:fixed;
    top:15px;
    right:15px;
    padding:10px 15px;
    border:none;
    border-radius:10px;
    background:#38bdf8;
    cursor:pointer;
    font-weight:bold;
    z-index:10;
}

/* SCROLL CONTAINER */
.container{
    height:100vh;
    overflow-y:scroll;
    scroll-snap-type:y mandatory;
}

/* EACH PAGE */
.page{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    scroll-snap-align:start;
}

/* CARD */
.card{
    width:350px;
    padding:25px;
    border-radius:20px;
    background:rgba(255,255,255,0.06);
    backdrop-filter: blur(20px);
    text-align:center;
}

/* AVATAR */
.avatar{
    width:110px;
    height:110px;
    border-radius:50%;
    border:3px solid #38bdf8;
}

/* MOBILE */
@media (max-width:600px){
    .card{
        width:90%;
    }
}